* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#landing {
    margin: 0 6vw;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0.8;
}

h1 {
    font-size: 10vw;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

#name {
    font-size: 8vw;
    width: 100%;
}

#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scores-title {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

#scores-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 12rem;
    height: 18rem;
    background: #ddd;
    opacity: 0.8;
    overflow-y: scroll;
    border-radius: 1rem;
}

#score-list {
    list-style: none;
    width: 100%;
    padding: 0 0.5rem;
}

#score-list > ul {
    width: 100%;
}

.score-score {
    float: right;
}
